* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}  

div #images {
  width: 80px;
  height: auto;
}

div #prof-photo {
  width: 60%;
  height: auto;
}

h3  {
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
}

h4 {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

h5 {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

h6  {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

p  {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
}

.personal-info {
  background-color: #343a40;
  color: white;
}

.container-fluid {
  background-color: #F5FFFA;
}

.container-fluid div > #project-image {
  width: 80%;
  height: auto;
}


